{{outlet}}
{{model.id}}<br>
{{model.name}}<br>
{{model.tanks}}<br>
{{model.capacity}}<br>
<p>
{{#each model.visits as |visit|}}
  Fill at: {{visit.date}}<br>
  Quantity: {{visit.quantity}}<br>
{{/each}}
</p>
